.media-grid {
    display: flex;
    flex-wrap: wrap;
    .media {
        border: 0;
        width: 270px;
        background: lighten($light-gray, 5);
        margin: 0 5px 5px 0;
        padding: 5px;
        font-size: 13px;
        &-header {
            word-break: break-all;
            width: 150px;
        }
        &-left {
            padding: 0;
        }
        &-body {
            padding-left: 10px;
            width: auto;
        }
        &-image {
            border-radius: 3px;
            vertical-align: middle;
            max-width: 60px;
        }
    }
}
