//.notifications {
//    @include scrollbar;
//    a {
//        color: #fff;
//    }
//    .dropdown-menu {
//        border: 0;
//    }
//}

.notification-changes {
    font-size: 13px;
    background: lighten($light-gray, 3);
    padding: 5px;
    margin: 10px 0;
    b {
        min-width: 100px;
        display: inline-block;
    }
    i {
        opacity: .5;
        font-size: 12px;
    }
}